doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Festival de films européens de Paris
		meta(name="description" content="")
		meta(name="keywords" content="")
		//link(href="https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap" rel="stylesheet")
		//link(href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Inter:wght@400;500&display=swap" rel="stylesheet")
		//link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
		link(rel="stylesheet" href="css/libs/jquery.arcticmodal-0.3.css")
		link(rel="stylesheet" href="css/libs/simple-lightbox.min.css")
		link(rel="stylesheet" href="css/libs/select2.min.css")
		link(rel="stylesheet" href="css/main-style.css")

	body
		header.header
			.header__top
				.header__logo
					a(href="index.html")
						img(src="images/logo.svg" alt="")
				.header__title
					.header-title
						.header-title__img
							img(src="images/wolf.png" alt="")
						.header-title__text
							.title Festival de films européens de Paris
							.date Du 17 au 30 novembre Paris 2021
				.header__right
					.header__lang
						a(href="#") En
					.header__search-btn.js-search
						span.iconify(data-icon="ph:magnifying-glass" data-inline="false")
					.header__menu-btn.js-menu-mobile
						span.iconify.iconify--menu(data-icon="heroicons-outline:menu" data-inline="false")
						span.iconify.iconify--close(data-icon="heroicons-outline:x" data-inline="false")
					.header__social
						.social
							.social__item
								a(href="" target="_blank")
									span.iconify(data-icon="typcn:social-instagram" data-inline="false")
							.social__item
								a(href="" target="_blank")
									span.iconify(data-icon="foundation:social-twitter" data-inline="false")
							.social__item
								a(href="" target="_blank")
									span.iconify(data-icon="foundation:social-facebook" data-inline="false")
							.social__item
								a(href="" target="_blank")
									span.iconify(data-icon="foundation:social-youtube" data-inline="false")

			.header__menu
				block nav

			.header__banner
				img(src="images/main-banner.png" alt="")

			.header__links
				.header__filmocracy-link
					p Partenaire de projections virtuelles
					a(href="" target="_blank")
						img(src="images/filmocracy.png" alt="")
				.header__request-links
					p Soumettre votre film via
					.header__request-links-img
						a(href="" target="_blank")
							img(src="images/film-freeway.png" alt="")
						a(href="" target="_blank")
							img(src="images/festhome.png" alt="")

		main
			block content

		footer.footer
			.footer__subscribe
				p S'abonner à la newsletter
				form.footer__form
					input(type="text" class="inp-text" placeholder="Nom" value="")
					input(type="text" class="inp-text" placeholder="E-mail" value="")
					button(type="submit" class="submit") S'abonner
				span En cliquant sur le bouton "S'abonner", vous acceptez les conditions de l'offre et la politique de confidentialité.

			.footer__logo
				a(href="")
					img(src="images/logo-footer.png" alt="")

			.footer__menu
				ul
					each item in menu
						li
							a(href="")= item.title

			.footer__copyright &copy; L'Europe autour de l'Europe

			.footer__social
				p Retrouvez nous sur
				.social
					.social__item
						a(href="" target="_blank")
							span.iconify(data-icon="typcn:social-instagram")
					.social__item
						a(href="" target="_blank")
							span.iconify(data-icon="foundation:social-twitter")
					.social__item
						a(href="" target="_blank")
							span.iconify(data-icon="foundation:social-facebook")
					.social__item
						a(href="" target="_blank")
							span.iconify(data-icon="foundation:social-youtube")

			.footer__development Design et développement&nbsp;&mdash;&nbsp;
				a(href="https://shweb.pro/" target="_blank") Studio Shweb

		.hidden
			#mapsModal.box-modal.box-modal__maps
				.box-modal_close.arcticmodal-close
					span.iconify(data-icon="majesticons:close-line" data-inline="false")
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.2509950789185!2d2.3399965159028797!3d48.85342400901017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671de5201dd77%3A0x5041bbc0585e809d!2zMzAgUnVlIFNhaW50LUFuZHLDqSBkZXMgQXJ0cywgNzUwMDYgUGFyaXMsINCk0YDQsNC90YbQuNGP!5e0!3m2!1sru!2sru!4v1627132883555!5m2!1sru!2sru" allowfullscreen="" loading="lazy")

		.hidden
			#videoModal.box-modal.box-modal__video
				.box-modal_close.arcticmodal-close
					span.iconify(data-icon="majesticons:close-line" data-inline="false")
				iframe(src="https://www.youtube.com/embed/Y5HgSpOcqZg" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

		.search-modal.hidden
			.search-modal__close.js-search-close
				span.iconify(data-icon="majesticons:close-line" data-inline="false")
			.search-modal__form
				form(action="search-result.html" class="form-search")
					.search-form
						input(placeholder="Recherche" class="inp-search")
						button(type="submit" class="subm-search")
							span.iconify(data-icon="ph:magnifying-glass" data-inline="false")



		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="https://code.iconify.design/1/1.0.7/iconify.min.js")
		script(src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js")
		script(src="js/libs/device.js")
		script(src="js/libs/owl.carousel.min.js")
		script(src="js/libs/jquery.arcticmodal-0.3.min.js")
		script(src="js/libs/simple-lightbox.jquery.min.js")
		script(src="js/libs/select2.min.js")
		script(src="js/main-script.js")
