@import "mixins";

.btn {
	display: inline-block;
	border: 1px solid $gray-700;
	text-decoration: none;
	@include btn();
}

.btn-accent {
	background-color: $active;
	border-color: $active;
	color: $white !important;
	@include btn();
}