@import "mixins";

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
	line-height: 1.25;
	color: $gray-700;
}

h1 {
	@include heading(40px);
}

h2 {
	@include heading(32px);
	margin-bottom: 40px;
}

h3 {
	@include heading(28px);
	margin-bottom: 32px;
}

h4 {
	@include heading(24px);
	margin-bottom: 24px;
	line-height: 1.25;
}

h5 {
	@include heading(20px);
	font-size: 32px;
}

h6 {
	@include heading(18px);
}

p {
	margin: 0 0 1rem;
}

a {
	color: $gray-700;
	transition: color .3s ease-in-out;
	
	&.btn {
		&:hover {
			color: $gray-700;
		}
	}
	
	&.btn-accent {
		&:hover {
			color: $white;
		}
	}
}


.breadcrumbs {
	list-style: none;
	padding: 0;
	
	@include responsive(device) {
		margin: -1rem 0 1rem;
	}
	
	@include responsive(landscapedesktop) {
		margin: -2rem 0 2rem;
	}
	
	a {
		color: $gray-200;
	}
}