@import "normalize";
@import "variables";
@import "typography";
@import "grid";
@import "forms";
@import "mixins";

html {
	&.desktop {
		.main-menu li {
			&:hover {
				> a {
					color: $active;
				}

				.has-submenu__inner {
					a {
						color: $active;
					}
				}

				.sub-menu {
					@include responsive(notebookdesktop) {
						display: flex;
						flex-flow: column;
					}
				}
			}

			&.has-submenu {
				&:hover {
					svg {
						color: $active;
						
						@include responsive(notebookdesktop) {
							transform: rotate(180deg) !important;
						}
					}
				}
			}
		}
		
		a {
			&.news-sm {
				&:hover {
					color: $gray-400;
					
					h6 {
						color: $active;
					}
					
					img {
						box-shadow: 0 0 0 4px $active;
					}
				}
			}
		}
	}
	
	&.mobile {
		.has-submenu {
			&.opened {
				flex-flow: column;

				.sub-menu {
					display: flex;
				}

				.has-submenu__inner {
					padding-bottom: 20px;
					
					a {
						color: $active !important;
					}

					svg {
						transform: rotate(0) !important;
						color: $active !important;
					}

					&:after {
						content: '';
					}
				}
			}
		}
	}
}



body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	background-color: $white;
	color: $gray-400;
	font: 20px/150% 'GolosUIRegular', sans-serif;
	
	@include responsive(device) {
		font-size: 16px;
	}
	
	&.menu-opened {
		.iconify--close {
			display: block;
		}
		
		.iconify--menu {
			display: none;
		}
		main,
		.footer {
			display: none;
		}
	}
}

.header {
	overflow: hidden;
	
	@include responsive(largedesktop) {
		max-width: 1900px;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
	}
	
	&__top {
		padding: 16px 40px;
		display: flex;
		justify-content: space-between;
		
		@include responsive(device) {
			padding: 16px 40px;
		}
		
		@include responsive(mobile) {
			padding: 16px 20px;
		}
	}
	
	&__title {
		margin: 0 auto;
		
		@include responsive(mobile) {
			display: none;
		}
	}
	
	&__logo {
		//padding-top: 10px;

		img {

			@include responsive(device) {
				max-height: 80px;
			}

			@include responsive(mobile) {
				max-height: 50px;
				display: block;
			}
		}
	}

	&__right {
		width: 160px;
		display: flex;
		flex-wrap: wrap;
		
		@include responsive(mobile) {
			justify-content: flex-end;
		}
	}
	
	&__lang {
		display: flex;
		align-items: center;
		
		@include responsive(tabletnotebook) {
			margin: auto auto auto 0;
		}
		
		@include responsive(tabletdesktop) {
			padding-left: 4px;
		}

		a {
			color: $gray-400;
		}
	}

	&__search-btn {
		display: flex;
		align-items: center;
		margin: auto;
		
		@include responsive(notebookdesktop) {
			margin-right: 0;
		}

		.iconify {
			font-size: 28px;
			margin: 0 4px;
			cursor: pointer;
			color: $gray-400;
		}
	}
	
	&__menu-btn {
		margin: auto 0 auto auto;
		cursor: pointer;
		
		@include responsive(notebookdesktop) {
			display: none;
		}
		
		.iconify {
			font-size: 24px;
			color: $gray-400;
			display: flex;
			align-items: center;
			
			&--close {
				display: none;
			}
		}
	}

	&__social {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-top: auto;
		
		@include responsive(mobile) {
			display: none;
		}
		
		.social {
			width: 100%;

			@include responsive(mobile) {
				width: 75%;
				margin-left: -.5rem;
			}
		}

		.social .iconify {
			font-size: 36px;

			&:last-child {
				margin-right: 0;
			}
			
			&:first-child {
				margin-left: 0;
			}
		}
	}
	
	&__menu {
		display: none;

		@include responsive(notebookdesktop) {
			display: block;
		}

		&.opened {
			display: flex;
			position: absolute;
			z-index: 9;
			left: 0;
			right: 0;
			background-color: $white;
			
			@include responsive(mobile) {
				top: 82px;
			}
			
			@include responsive(smtablet) {
				top: 128px;
			}

			.main-menu {
				@include responsive(alldevices) {
					flex-flow: column;
				}
			}

			nav {
				width: 100%;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.main-menu {
		display: flex;
		justify-content: space-between;
		position: relative;
		
		@include responsive(device) {
			/*padding: 20px 0;*/
		}

		@include responsive(notebookdesktop) {
			padding: 0 40px;
		}
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 1px;
			background-color: $gray-400;
		}

		li {
			position: relative;

			@include responsive(alldevices) {
				padding: 20px 0 20px 20px;
				display: flex;
				//flex-flow: wrap;
				align-items: center;
			}
			
			&:first-child {
				@include responsive(notebookdesktop) {
					padding-left: 0;
				}
			}
			
			&:last-child {
				@include responsive(notebookdesktop) {
					padding-right: 0;
				}
			}

			@include responsive(notebookdesktop) {
				padding: 20px 10px;
				font-size: 16px;
			}
			
			@include responsive(desktop) {
				padding: 20px 16px;
				font-size: 18px;
			}

			@include responsive(notebookdesktop) {
				padding: 20px;
				font-size: 20px;
			}

			&:after {
				@include responsive(alldevices) {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 1px;
					background-color: $gray-400;
				}
			}

			a {
				@include responsive(alldevices) {
					font-size: 24px;
					display: block;
					padding-top: 4px;
					width: calc(100% - 40px);
					line-height: 1.25;
				}
				
				@include responsive(notebook) {
					width: auto;
				}
			}

			.active {
				color: $active;
				
				+ svg {
					color: $active;
				}
			}
		}
	}

	li {
		list-style: none;
	}
	
	.sub-menu {
		display: none;
		min-width: 300px;
		background-color: $white;
		
		@include responsive(device) {
			flex-flow: column;
			width: 100%;
			padding-left: 30px;
			box-sizing: border-box;
			margin-bottom: -20px;
		}
		
		@include responsive(notebook) {
			margin-right: auto;
			padding-top: 16px;
		}

		@include responsive(notebookdesktop) {
			margin-top: 20px;
			position: absolute;
		}
		
		&:before {
			@include responsive(notebookdesktop) {
				content: '';
				position: absolute;
				background-color: $white;
				bottom: 0;
				top: 0;
				right: -1650px;
				left: -1650px;
				border-top: 1px solid $gray-400;
			}
		}
		
		li {
			@include responsive(device) {
				padding: 14px 0;
			}
			
			@include responsive(notebook) {
				padding: 0 24px;
			}

			@include responsive(notebookdesktop) {
				padding: 8px 0;
			}

			&:first-child {
				@include responsive(notebookdesktop) {
					padding-top: 20px;
				}
			}
			
			&:last-child {
				@include responsive(notebookdesktop) {
					padding-bottom: 20px;
				}
			}
			
			&:after {
				@include responsive(notebook) {
					content: none;
				}
			}
			
			a {
				@include responsive(notebook) {
					font-size: 20px;
				}
			}
		}
	}
	
	.subtitle {
		position: absolute;
		background-color: $white;
		left: 0;
		right: 0;
	}

	a {
		color: $gray-700;
		text-decoration: none;

		@include responsive(largedesktop) {
			font-size: 24px;
		}
	}
	
	&__banner {
		border-top: 1px solid $gray-400;
		border-bottom: 1px solid $gray-400;

		img {
			max-width: 100%;
			display: block;
		}
	}
	
	&__request {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 16px 0;
		border-bottom: 1px solid $gray-400;
		
		@include responsive(mobile) {
			flex-flow: wrap;
		}

		p {
			margin: 0;
			font-family: 'GolosUIMedium';
			
			@include responsive(mobile) {
				width: 100%;
				text-align: center;
				margin-bottom: 12px;
			}
		}
		
		a {
			display: block;
			
			@include responsive(mobile) {
				margin: 0 12px;
			}
			
			@include responsive(tabletdesktop) {
				margin-left: 24px;
			}
		}

		img {
			display: block;
			
			@include responsive(mobile) {
				max-width: 100px;
			}
			
			@include responsive(tabletnotebook) {
				max-width: 120px;
			}
		}
	}
}

.has-submenu {
	
	&__inner {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		z-index: 9;
		
		&:after {
			position: absolute;
			left: -20px;
			right: 0;
			bottom: 0;
			height: 1px;
			background-color: $gray-400;
		}
	}

	svg {
		transition: color .3s ease-in-out;
		position: relative;
		top: 2px;
		margin-left: 4px;
		font-size: 24px;
		
		@include responsive(alldevices) {
			font-size: 32px;
			transform: rotate(-90deg) !important;
		}
	}
	
	&.opened {
		@include responsive(notebook) {
			display: flex;
			flex-flow: wrap;
		}
		
		.sub-menu {
			@include responsive(notebook) {
				display: flex;
			}
		}
		
		.has-submenu__inner {
			@include responsive(notebook) {
				padding-bottom: 20px;
			}
			
			&:after {
				@include responsive(notebook) {
					content: '';
				}
			}
		}
	}
}


.header-title {
	display: flex;
	align-items: center;
	padding-top: 10px;
	
	&__img {
		margin-right: 12px;
		
		img {
			@include responsive(device) {
				max-height: 80px;
			}
		}
	}
	
	.title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	
	.date {
		font-size: 24px;
		line-height: 32px;
	}
	
	&__text {
		display: none;
		
		@include responsive(desktop) {
			display: flex;
			flex-flow: column;
		}
	}
}

.footer {
	padding: 0 0 32px;
	margin-top: auto;
	display: grid;
	grid-template-areas: "subscribe subscribe"
												"logo menu"
												"social menu"
												"copyright copyright"
												"development development";

	@include responsive(tablet) {
		grid-template-columns: 370px 1fr 370px;
		grid-template-areas: "subscribe subscribe subscribe"
												"menu menu menu"
												"logo social social"
												"copyright development development";
	}
	
	@include responsive(desktop) {
		grid-template-columns: 300px 1fr 370px;
		grid-template-areas: "subscribe subscribe subscribe"
												"logo menu menu"
												"logo social development"
												"copyright social development";
	}
	
	@include responsive(largedesktop) {
		width: 100%;
		max-width: 1900px;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
	}
	
	
	@include responsive(mobile) {
		padding: 0 0 24px;
	}

	&__subscribe {
		grid-area: subscribe;
		position: relative;
		padding: 40px 40px 48px;
		display: flex;
		flex-flow: column;
		align-items: center;
		
		@include responsive(mobile) {
			padding: 20px 20px 24px;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $gray-400;
		}
		
		&:before {
			top: 0;
		}
		
		&:after {
			bottom: 0;
		}

		p {
			margin: 0 0 24px;
			font-size: 28px;
			line-height: 1.3;
		}
		
		span {
			font-size: 16px;
			line-height: 1.4;
			color: $gray-200;
			margin-top: 8px;
		}
		
		.inp-text {
			display: inline-block;
			
			@include responsive(mobile) {
				margin-bottom: 20px;
			}
			
			@include responsive(tabletdesktop) {
				margin-right: 20px;
			}
		}
	}
	
	&__form {
		display: flex;
		
		@include responsive(mobile) {
			flex-flow: column;
			width: 100%;
		}
	}
	
	&__logo {
		grid-area: logo;
		padding: 32px 0 32px 40px;
		
		@include responsive(mobile) {
			padding: 24px 0 24px 20px;
		}
		
		img {
			@include responsive(device) {
				max-width: 140px;
			}
		}
	}
	
	&__menu {
		grid-area: menu;
		padding: 40px 40px 0 0;
		
		@include responsive(device) {
			padding: 24px 20px 0 0;
		}
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: flex-start;
			
			@include responsive(mobile) {
				flex-flow: column;
			}
			
			@include responsive(landscapedesktop) {
				justify-content: flex-end;
			}
		}
		
		li {
			margin-left: 40px;
			
			@include responsive(device) {
				margin-left: 15px;
			}
			
			@include responsive(mobile) {
				margin: 0 0 20px;
			}
		}
		
		a {
			text-decoration: none;
			color: $gray-700;
			
			&:hover {
				color: $active;
			}
		}
	}

	&__copyright {
		grid-area: copyright;
		color: $gray-400;
		display: flex;
		
		@include responsive(mobile) {
			padding-left: 20px;
			align-items: flex-start;
			margin-bottom: .25rem;
			font-size: 16px;
		}
		
		@include responsive(tabletdesktop) {
			align-items: flex-end;
			font-size: 17px;
			padding-left: 40px;
		}
	}

	&__social {
		grid-area: social;
		display: flex;
		flex-flow: column;

		@include responsive(tablet) {
			align-items: flex-end;
			padding-right: 40px;
			justify-content: center;
		}

		@include responsive(mobile) {
			padding-left: 20px;
			margin-top: -40px;
		}

		@include responsive(desktop) {
			align-items: center;
			justify-content: flex-end;
		}

		p {
			font-family: 'GolosUIMedium';
			
			@include responsive(mobile) {
				margin: 0 0 .5rem;
			}
			
			@include responsive(tabletdesktop) {
				margin: 0 0 1rem;
			}
		}
	}
	
	&__development {
		grid-area: development;
		color: $gray-400;
		display: flex;
		
		@include responsive(tablet) {
			margin-left: auto;
		}
		
		@include responsive(mobile) {
			padding-left: 20px;
			align-items: flex-start;
			font-size: 16px;
		}
		
		@include responsive(tabletdesktop) {
			font-size: 17px;
			text-align: right;
			align-items: flex-end;
			padding-right: 40px;
		}

		a {
			text-decoration: none;
			color: $gray-400;
			
			&:hover {
				color: $active;
			}
		}
	}
}

.social {
	display: flex;
	
	@include responsive(mobile) {
		max-width: 150px;
	}
	
	@include responsive(tabletdesktop) {
		justify-content: space-between;
	}

	@include responsive(device) {
		flex-wrap: wrap;
	}

	@include responsive(desktop) {
		justify-content: space-between;
	}

	.iconify {
		font-size: 40px;
		margin: 0 6px;
		color: $gray-400;
		transition: color .3s ease-in-out;
	}
	
	&__item {
		@include responsive(mobile) {
			margin-bottom: .5rem;
		}

		&:last-child {
			.iconify {
				margin-right: 0;
			}
		}
		
		&:hover {
			.iconify {
				color: $active;
			}
		}
	}
}

.inp-text {
	padding: 14px 16px;
	border: 1px solid $gray-200;
	width: 100%;
	box-sizing: border-box;
	font-size: 20px;
	line-height: 1;
	border-radius: 0;
	
	@include responsive(tabletdesktop) {
		max-width: 290px;
	}
	
	&:focus,
	&:active {
		border: 1px solid $gray-700;
		outline: none;
	}
}

.submit {
	padding: 14px 32px;
	font-size: 24px;
	line-height: 1;
	border-radius: 0;
	background-color: $white;
	border: 1px solid $gray-700;
	cursor: pointer;
	transition: .3s ease-in-out;
	
	&:hover {
		background-color: $gray-700;
		color: $gray-50;
	}
	
	&:active {
		background-color: $gray-400;
		color: $gray-50;
	}
}


main {
	padding: 64px 20px 120px;
	
	@include responsive(tabletnotebook) {
		padding: 72px 40px 160px;
	}
	
	@include responsive(notebookdesktop) {
		padding: 80px 40px 200px;
	}

	@include responsive(largedesktop) {
		width: 100%;
		max-width: 1900px;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
	}

}

.title-link {
	display: flex;
	justify-content: space-between;

	a {
		padding-top: 24px;
		text-decoration: none;
	}
}

.festival-history {
	@include paddingBlock();
	
	@include responsive(mobile) {
		width: 100%;
	}
	
	@include responsive(tabletdesktop) {
		width: 66%;
		display: flex;
		flex-flow: column;
		margin-left: 34%;
		box-sizing: border-box;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	@include responsive(notebookdesktop) {
		width: 46%;
	}

	@include responsive(largedesktop) {
		width: 36%;
		display: flex;
		flex-flow: column;
		margin-left: 34%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.program-main {
	display: flex;
	margin: 0;
	@include paddingBlock();
	
	@include responsive(mobile) {
		flex-flow: column;
	}
	
	@include responsive(tablet) {
		flex-flow: column;
	}
	
	@include responsive(landscapedesktop) {
		flex-flow: wrap;
	}
	
	@include responsive(largedesktop) {
		margin: 0 -10px;
	}
	
	&__short-info {
		@include responsive(mobile) {
			width: 100%;
		}
		
		@include responsive(notebookdesktop) {
			width: 50%;
		}
		
		@include responsive(largedesktop) {
			width: 50%;
			padding: 0 10px;
		}
	}

	&__item {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		border-top: 2px solid $black;
		text-decoration: none;
		padding: 20px 0 16px;
		
		@include responsive(notebookdesktop) {
			padding: 20px 0;
		}
		
		&:last-child {
			border-bottom: 2px solid $black;
		}
		
		&:hover {
			* {
				color: $active;
			}
		}

		h4 {
			width: 100%;
			color: $gray-700;
			margin-bottom: 16px;
			transition: color .3s ease-in-out;
		}
		
		p {
			color: $gray-700;
			margin-bottom: 0;
			transition: color .3s ease-in-out;
		}
		
		svg {
			font-size: 32px;
			color: $gray-700;
			transition: color .3s ease-in-out;
			margin-left: auto;
		}
	}
	
	&__info {
		display: flex;
		flex-flow: column;
		@include paddingBlock();
		
		.btn {
			margin: 0 auto;
		}
	}
}

.festival-visitors {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-top: 56px;
	
	@include responsive(notebookdesktop) {
		width: 50%;
		max-width: 415px;
		margin-left: auto;
		padding: 220px 10px 0;
	}
	
	@include responsive(largedesktop) {
		padding: 220px 10px 0;
		max-width: 574px;
		margin-left: auto;
	}
	
	h4 {
		margin-bottom: 32px;
		width: 100%;
	}
	
	&__list {
		display: flex;
		margin-bottom: 40px;
		
		@include responsive(notebookdesktop) {
			margin-bottom: 56px;
			align-items: flex-start;
		}
	}
	
	&__item {
		text-decoration: none;

		img {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}

		&:last-child {
			padding-top: 140px;
		}

		p {
			margin-bottom: 0;
			color: $gray-400;
		}

		h6 {
			margin-bottom: 10px;
			color: $gray-700;
		}
	}
}

.program-info {
	
	&__section {
		margin-bottom: 80px;
		
		@include responsive(tablet) {
			margin-bottom: 64px;
		}
		
		@include responsive(desktop) {
			margin-bottom: 80px;
		}
		
		@include responsive(largedesktop) {
			margin-bottom: 120px;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
		h3 {
			margin-bottom: 0;
		}
	}

	&__section-inner {
		display: flex;
		flex-flow: wrap;
		width: 100%;
		margin: 32px 0 64px;

		&:last-child {
			@include responsive(tabletdesktop) {
				margin-bottom: 0;
			}
		}
		
		h4 {
			width: 100%;
			margin-bottom: 0;

			@include responsive(landscapedesktop) {
					padding-left: 4px;
			}

		}
	}

	&__list {
		display: flex;
		flex-flow: wrap;
		width: 100%;

		@include responsive(mobile) {
			flex-flow: column;
		}

		.program-info__content-name {
			padding-left: 4px;
			
			h5 {
				padding-left: 0;
				margin-bottom: 10px;
			}
		}
	}
	
	&__film-sm {
		display: flex;
		flex-flow: column;
		margin-top: 32px;
		width: 100%;
		
		@include responsive(notebookdesktop) {
			padding-left: 10px;
			padding-right: 10px;
			box-sizing: border-box;
			width: 33%;
		}
	}

	&__item {
		@include responsive(mobile) {
			display: flex;
			flex-flow: column;
		}
		
		@include responsive(tabletdesktop) {
			display: grid;
			grid-template-areas: "day"
													"films";
		}
		
		@include responsive(largedesktop) {
			display: grid;
			grid-template-columns: 315px 1fr;
			grid-template-areas: "day films";
		}
	}

	&__day {
		@include responsive(tablet) {
			margin-bottom: .5rem;
		}

		@include responsive(largedevice) {
			width: 100%;
			display: flex;
		}
		
		@include responsive(desktop) {
			width: 100%;
			display: flex;
		}
		
		@include responsive(largedesktop) {
			grid-area: day;
			display: block;
			width: auto;
		}
		
		h4 {
			margin-bottom: 0;
		}
	}

	&__films {
		grid-area: films;
		@include responsive(mobile) {
			width: 100%;
		}
	}

	&__time {
		grid-area: time;
		
		@include responsive(mobile) {
			order: 0;
		}
		
		@include responsive(tablet) {
			padding-top: .5rem;
		}
	}
	
	&__img {
		grid-area: img;
		margin-bottom: 10px;

		@include responsive(mobile) {
			order: 0;
		}

		&:hover {
			img {
				@include responsive(desktop) {
					box-shadow: 0 0 0 4px $active;
				}
			}
		}

		img {
			width: 100%;
			display: block;
			
			@include responsive(desktop) {
				margin: 4px;
				width: calc(100% - 8px);
				transition: box-shadow .3s ease-in-out;
			}
		}
	}
	
	&__content-name {
		grid-area: name;
		box-sizing: border-box;
		
		@include responsive(mobile) {
			order: 2;
		}
		
		@include responsive(tablet) {
			padding-left: 10px;
		}

		@include responsive(desktop) {
			padding-left: 16px;
		}
		
		h4 {
			@include responsive(mobile) {
				margin-bottom: 1rem;
			}
		}
		
		a {
			display: block;
			
			@include responsive(largedevice) {
				margin-top: .5rem;
			}
			
			&:hover {
				color: $active;
			}
		}
		
		p {
			margin-bottom: 1rem;
			color: $gray-400;
			font-size: 16px;
			line-height: 125%;
			
			@include responsive(notebookdesktop) {
				font-size: 20px;
			}
			
			&.title {
				color: $gray-700;
				font-weight: 600;
				margin-bottom: 10px;
			}
		}
		
		.actors {
			display: block;
			margin-top: 4px;
		}
	}
	
	h5 {
		margin-bottom: .25rem;

		a {
			color: $gray-700;
			text-decoration: none;

			&:hover {
				color: $active;
			}
		}
	}
	
	h6 {
		margin-bottom: .25rem;
		
		@include responsive(largedevice) {
			margin: auto 0 0 4px;
			padding-bottom: 8px;
		}
		
		@include responsive(desktop) {
			margin: auto 0 0 4px;
			padding-bottom: 8px;
		}
		
		@include responsive(largedesktop) {
			margin: 0;
			padding: 0;
		}
	}
	
	.program-link {
		text-decoration: none;
	}
	
	&__film-item {
		display: grid;
		margin-bottom: 40px;
		
		@include responsive(largedesktop) {
			margin-bottom: 56px;
		}
		
		@include responsive(mobile) {
			display: flex;
			flex-flow: column;
		}
		
		@include responsive(smtablet) {
			grid-template-rows: 1fr 50px auto;
			grid-template-columns: 50% 50%;
			grid-template-areas: "img img"
												"time name"
												"cinema name";
		}
		
		@include responsive(landscapedesktop) {
			grid-template-rows: auto 1fr;
			grid-template-columns: 200px 1fr 1fr;
			grid-template-areas: "time img name"
														"time img cinema";
		}
		
		@include responsive(notebookdesktop) {
			grid-template-columns: 315px 1fr 1fr;
		}

		&--cinema {

			.program-info__content-cinema {

				@include responsive(mobile) {
					order: 1;
				}

				@include responsive(desktop) {
					padding-left: 0;
				}

				h6 {
					margin-bottom: 10px;
				}

				h4 {
					margin-bottom: 0;
				}
			}

			.program-info__time {
				
				@include responsive(mobile) {
					order: 2;
				}
				
				@include responsive(landscapedesktop) {
					margin-top: 32px;
				}

				.title {
					font-weight: 700;
					color: $gray-700;
					font-size: 24px;
				}
			}
		}
		
		h6 {
			margin: 0;
		}
	}

	&__content-cinema {
		grid-area: cinema;

		@include responsive(mobile) {
			order: 3;
		}

		@include responsive(smtablet) {
			margin-bottom: auto;
			padding-right: 10px;
			box-sizing: border-box;
		}

		@include responsive(landscapedesktop) {
			padding-left: 16px;
		}

		p {
			margin-bottom: 0;
			
			&.title {
				font-weight: 600;
			}
			
			&.link-cinema {
				@include responsive(landscapedesktop) {
					font-size: 18px;
				}
				
				span {
					display: block;
				}
			}
			
			&.tarif {
				@include responsive(landscapedesktop) {
					font-size: 18px;
				}
			}
		}
		
	}
	
	&__cinema-item {
		display: flex;
		flex-flow: column;
		
		@include responsive(mobile) {
			margin-bottom: 40px;
		}
		
		@include responsive(tablet) {
			margin-bottom: 64px;
		}
		
		@include responsive(desktop) {
			margin-bottom: 80px;
		}
		
		&:last-child {
			margin-bottom: 0;
		}

		.program-info__film-item {
			@include responsive(mobile) {
				margin-bottom: 40px;
				grid-template-areas: "img"
												"name"
												"time";
			}

			@include responsive(tablet) {
				margin-bottom: 40px;
				grid-template-columns: 50% 50%;
				grid-template-areas: "img img"
												"cinema name"
												"cinema name";
			}

			@include responsive(desktop) {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-areas: "time img name"
															"cinema img name";
			}
			
			&:last-child {
				margin-bottom: 0;
			}
			
			.program-info__img {
				margin-bottom: 0;
			}
		}
		
		.program-info__time {
			@include responsive(mobile) {
				order: 0;
				margin-bottom: 0;
			}
			
			@include responsive(tablet) {
				padding-top: 1rem;
			}
		}
		
		.program-info__content-name {
			h4 {
				@include responsive(mobile) {
					margin-bottom: .5rem;
				}
				
				@include responsive(tabletdesktop) {
					margin-bottom: 1rem;
				}
			}
		}
		
		.program-info__cinema-detail {
			@include responsive(mobile) {
				order: 1;
				margin-top: 1rem;
			}
		}
		
		.tarif {
			@include responsive(mobile) {
				margin-bottom: .5rem;
			}
		}
		
		.program-info__content-name {
			p {
				@include responsive(mobile) {
					font-size: 16px;
					line-height: 20px;
				}
			}
			span {
				display: block;
			}
		}
	}
	
	&__cinema-title {
		margin-bottom: 24px;

		h4 {
			margin-bottom: 0;
		}
	}
	
	&__cinema-detail {
		
		@include responsive(tablet) {
			grid-area: cinema;
		}
		
		.program-info__time {
			margin-bottom: .5rem;
		}
	}
}

.films-list {
	position: relative;

	@include responsive(landscapedesktop) {
		display: flex;
		flex-flow: wrap;
		width: 100%;
	}
	
	.program-info__film-sm {
		@media screen and (min-width: 1024px) and (max-width: 1365px) {
			width: auto;
		}
	}
}

.owl-nav {
	position: absolute;
	right: 0;
	height: 40px;
	width: 100px;
	display: flex;
	justify-content: space-between;
	
	button {
		display: block;
		
		&.owl-next {
			span {
				background: url(../images/arrow-right.svg) 50% 50% no-repeat;
			}
			
			&.disabled {
				opacity: .1;
			}
		}
		&.owl-prev {
			span {
				background: url(../images/arrow-left.svg) 50% 50% no-repeat;
			}
			
			&.disabled {
				opacity: .1;
			}
		}
	}
	
	span {
		display: block;
		width: 40px;
		height: 40px;
		font-size: 0;
	}
}

.owl-dots {
	display: flex;
	justify-content: center;
	margin-top: 24px;

	.owl-dot {
		width: 12px;
		height: 12px;
		margin: 0 6px;
		border-radius: 50%;
		background-color: $gray-400 !important;

		&.active {
			background-color: $active !important;
		}
	}
}


.films-title {
	@include responsive(device) {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	
	&__arrows {
		@include responsive(device) {
			display: flex;
			width: 80px;
			justify-content: space-between;
		}
		
		@include responsive(landscapedesktop) {
			display: none;
		}
	}

	a {
		width: 40px;
		height: 40px;
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	
	svg {
		font-size: 32px;
	}
}

.jury {
	@include paddingBlock();

	@include responsive(mobile) {
		width: 100%;
	}

	&__list {
		display: flex;

		@include responsive(mobile) {
			flex-flow: column;
		}
	}
	
	&__item {
		margin-bottom: 32px;

		@include responsive(tabletdesktop) {
			padding-right: 20px;
			width: 33%;
		}

		&:nth-child(even) {
			@include responsive(tabletdesktop) {
				padding-top: 140px;
			}
		}

		&:last-child {
			@include responsive(tabletdesktop) {
				padding-right: 0;
			}
		}

		img {
			display: block;
			margin-bottom: 12px;
			
			@include responsive(smtablet) {
				width: 100%;
			}
		}

		h6 {
			margin-bottom: 20px;
		}
	}
	
	&__info {
		margin-bottom: 1rem;

		p {
			margin-bottom: 0;
			
			&.name {
				font-size: 24px;
			}
		}
	}

	a {
		color: $gray-400;
		font-size: 16px;
	}
}

.video {
	display: flex;
	flex-flow: column;
	@include paddingBlock();
	
	&__slider {
		margin-bottom: 40px;

		@include responsive(largedesktop) {
			margin-bottom: 56px;
		}
	}
	
	&__list {
		display: flex;
		flex-flow: wrap;
	}
	
	&__item {
		box-sizing: border-box;
		margin-bottom: 40px;
		width: 100%;
		
		@include responsive(smtablet) {
			padding: 0 10px;
			width: 50%;
		}

		@include responsive(landscapedesktop) {
			padding: 0 10px;
			width: 50%;
		}
		
		@include responsive(desktop) {
			padding: 0 10px;
			width: 33.3%;
		}
		
		img {
			display: block;
			max-width: 100%;
			width: 100%;
		}
	}
	
	.owl-nav {
		
		top: -64px;
		
		@include responsive(largedesktop) {
			top: -72px;
		}
	}

	.btn {
		margin: 0 auto;
	}
	
	p {
		margin-top: 1rem;
		font-size: 24px;
		line-height: 1.2;
	}
}

.gallery {
	display: flex;
	flex-flow: column;
	@include paddingBlock();
	
	img {
		width: 100%;
		display: block;
	}

	&__list {
		display: flex;
		margin-bottom: 40px;
		
		@include responsive(mobile) {
			flex-flow: column;
		}
		
		@include responsive(largedesktop) {
			margin: 0 -10px 56px;
		}
	}
	
	&__item {
		box-sizing: border-box;

		@include responsive(mobile) {
			width: 100%;
			margin-bottom: 24px;
		}
		
		&:last-child {
			@include responsive(mobile) {
				margin-bottom: 0;
			}
			
			@include responsive(tabletdesktop) {
				padding-right: 0;
			}
		}
		
		@include responsive(tabletdesktop) {
			padding-right: 20px;
		}

		@include responsive(largedesktop) {
			width: 33%;
			padding: 0 10px;
		}
	}

	.btn {
		margin: 0 auto;
	}
	
	p {
		line-height: 1.4;
		margin: .5rem 0 0 0;
		font-size: 18px;

		@include responsive(notebookdesktop) {
			margin: 1rem 0 0 0
		}

		@include responsive(largedesktop) {
			font-size: 24px;
		}
	}
}


.test {
	border: 1px solid #000;

	.item {
		img {
			max-width: 100%;
		}
	}
}


.program-page {
	
	&__text {
		max-width: 720px;
	}
	
	&__content {
		@include paddingBlock();
	}
}

.program-links {
	display: flex;
	margin-bottom: 56px;
	justify-content: space-between;

	&__item {
		a,
		span {
			background-color: $black;
			color: $white;
			text-decoration: none;
			padding: 4px 16px 8px;
			font-size: 20px;

			@include responsive(notebookdesktop) {
				font-size: 24px;
			}

			@include responsive(largedesktop) {
				font-size: 32px;
			}
		}
		
		&.active {
			a,
			span {
				background-color: $active;
			}
		}
	}
}


.program-calendar {
	display: flex;
	margin-bottom: 24px;
	
	@include responsive(desktop) {
		margin-bottom: 48px;
	}
	
	@include responsive(largedesktop) {
		margin-bottom: 64px;
	}

	@include responsive(mobile) {
		flex-flow: wrap;
	}

	&__all {
		line-height: 125%;
		font-size: 20px;
		white-space: nowrap;

		@include responsive(device) {
			margin-bottom: 1rem;
		}

		@include responsive(notebookdesktop) {
			margin-right: 0;
		}

		@include responsive(largedesktop) {
			font-size: 28px;
		}
	}
	
	&__list {
		display: flex;
		flex-flow: wrap;
		
		@include responsive(mobile) {
			margin-left: -24px;
		}
	}
	
	&__item {
		margin-left: 24px;
		
		@include responsive(desktop) {
			margin-left: 40px;
		}
		
		a {
			display: flex;
			flex-flow: column;
			text-decoration: none;
			align-items: center;
			color: $gray-700;
			font-size: 20px;
			line-height: 125%;
			margin-bottom: 1rem;

			&:hover {
				color: $active;
			}

			@include responsive(largedesktop) {
				font-size: 28px;
				margin-bottom: 20px;
			}
		}

		.date {
			font-size: 36px;
			line-height: 1;
		}

		.day {
			font-size: 20px;
			line-height: 1;
			text-transform: uppercase;
		}
	}
	
	.active {
		color: $active;
	}
}

.sticky {
	position: sticky;
	top: 0;
}

.tarif {
	span {
		display: block;
	}
}

.hidden {
	display: none;
}

.box-modal {
	background-color: #fff;
	width: 100%;
	border-radius: 2px;
	
	&__maps {
		iframe {
			height: 600px;
		}
	}
	
	&__video {
		iframe {
			@include responsive(mobile) {
				height: 300px;
			}
			
			@include responsive(tablet) {
				height: 480px;
			}

			@include responsive(desktop) {
				height: 640px;
			}
		}
	}

	iframe {
		width: 100%;
		border: 0;
		min-width: 332px;
		display: block;
		
		@include responsive(smtablet) {
			min-width: 690px;
		}
		
		@include responsive(landscapedesktop) {
			min-width: 940px;
		}
		
		@include responsive(desktop) {
			min-width: 1200px;
		}
	}
	
	img {
		display: block;
		border-radius: 2px;
	}
}

.arcticmodal-container_i2 {
	padding: 16px;
}

.arcticmodal-close {
	position: absolute;
	right: 24px;
	top: 24px;
	width: 24px;
	height: 24px;
	font-size: 24px;
	cursor: pointer;
}

.arcticmodal-overlay {
	background-color: $white !important;
	opacity: .9 !important;
}


.jury-page {
	
	&__list {
		display: flex;
		flex-flow: column;
	}
	
	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 48px;
		
		@include responsive(tablet) {
			margin-bottom: 80px;
		}
		
		@include responsive(desktop) {
			margin-bottom: 120px;
		}
		
		@include responsive(mobile) {
			flex-flow: column;
		}
		
		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(even) {
			@include responsive(desktop) {
				padding-left: 30%;
			}
		}
	}

	&__img {
		@include responsive(device) {
			margin-bottom: 20px;
		}
		
		@include responsive(tabletdesktop) {
			margin-right: 20px;
		}
		
		img {
			display: block;
		}
	}

	&__info {
		max-width: 600px;
		
		h5 {
			span {
				display: block;
				font-size: 16px;
				margin-top: 4px;
				
				@include responsive(desktop) {
					font-size: 20px;
				}
			}
		}
	}
}

.editorial {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	
	&__content {
		display: flex;
		
		@include responsive(mobile) {
			flex-flow: column-reverse;
		}
	}
	
	&__text {
		box-sizing: border-box;
		
		@include responsive(tablet) {
			padding-right: 40px;
		}
		
		@include responsive(desktop) {
			padding-right: 80px;
		}
	}
	
	&__photo {
		@include responsive(mobile) {
			margin-bottom: 1rem;
		}

		p {
			font-weight: 600;
		}

		span {
			display: block;
		}
	}
}

.gallery-page {

	@include yearsSelect('gallery-page');

	&__top {
		h1 {
			@include responsive(smtablet) {
				width: 50%;
				margin-right: 10px;
			}
			
			@include responsive(landscapedesktop) {
				width: calc(33% - 20px);
			}
		}
	}

	&__year {
		@include responsive(smtablet) {
			width: calc(50% - 10px);
		}
	}

	&__section {
		display: flex;
		align-items: flex-start;

		@include responsive(mobile) {
			flex-flow: column;
			margin-bottom: 64px;
		}

		@include responsive(smtablet) {
			flex-flow: column;
			margin-bottom: 80px;
		}
		
		@include responsive(tablet) {
			margin-bottom: 80px;
		}

		@include responsive(desktop) {
			margin-bottom: 120px;
		}
		
		&:hover {
			h4 {
				color: $active;
			}
		}
	}
	
	&__title,
	&__list {
		@include responsive(landscapedesktop) {
			width: calc(33% - 20px);
			padding-right: 40px;
			box-sizing: border-box;
		}

		h4 {
			transition: color .3s ease-in-out;
		}
	}
	
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: hidden;
		
		li {
			color: $gray-700;
			transition: all .3s ease-in-out;
			margin-left: -35px;
			padding-left: 35px;
			background: url(../images/arrow-right-active.svg) 0 0 no-repeat;
			background-size: 26px;
			font-size: 24px;
			margin-bottom: 24px;
			
			@include responsive(landscapedesktop) {
				background-size: 30px;
				padding-right: 30px;
			}
			
			@include responsive(desktop) {
				font-size: 28px;
				margin-bottom: 32px;
				padding-right: 40px;
			}
			
			&:hover,
			&.active {
				position: relative;
				margin-left: 0;
				color: $active;
				padding-right: 0;
			}
		}
		
		a {
			text-decoration: none;
		}
	}
	
	&__preview,
	&__content {
		display: flex;
		
		@include responsive(landscapedesktop) {
			width: 67%;
		}
	}
	
	&__content {
		flex-flow: wrap;
		
		@include responsive(tablet) {
			margin-left: -20px;
		}
	}
	
	&__item {
		width: calc(50% - 10px);
		
		&:first-child {
			margin-right: 20px;
		}

		img {
			width: 100%;
		}
	}
	
	&__albom {
		display: flex;
		flex-flow: wrap;
	}
	
	&__img {
		margin-bottom: 20px;

		@include responsive(tabletdesktop) {
			margin-left: 20px;
		}

		img {
			width: 100%;
			display: block;
		}

		&--1 {
			width: 100%;
		}

		&--2 {
			@include responsive(tabletdesktop) {
				width: calc(50% - 20px);
			}
		}

		&--3 {
			@include responsive(tabletdesktop) {
				width: calc(33.33334% - 20px);
			}
		}

		&--center {
			align-self: center;
		}

		&--bottom {
			align-self: flex-end;
		}
	}
}

.select2-container {

	&--default {

		.select2-selection--single {
			height: 48px;
			border-radius: 0;

			.select2-selection__rendered {
				line-height: 48px;
				font-size: 24px;
				padding-right: 48px;
			}
		}

		.select2-selection__arrow  {
			width: 48px !important;
			height: 48px !important;
			background: url(../images/inp-chevron.svg) 50% 50% no-repeat;

			b {
				display: none;
			}
		}

		.select2-results__option--selected {
			background-color: $gray-50 !important;
		}

		.select2-results__option--highlighted {
			background-color: rgba($active, .8) !important;
		}
	}

	&--open {
		.select2-selection__arrow {
			transform: rotate(180deg);
		}
	}

	.select2-search__field {
		display: none;
	}

	.select2-dropdown {
		border-radius: 0;
	}
}


.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 -4px;
	padding: 0;
	
	li {
		margin: 0 4px;
		
		&.active-page {
			a {
				border-color: $active;
				color: $active;
			}
		}
		
		&.prev-page {
			a {
				background: url(../images/inp-chevron.svg) 50% 50% no-repeat;
				transform: rotate(90deg);

				@include responsive(mobile) {
					background-size: 20px !important;
				}
			}

			&:hover {
				a {
					background: url(../images/inp-chevron-active.svg) 50% 50% no-repeat;
				}
			}
		}

		&.next-page {
			a {
				background: url(../images/inp-chevron.svg) 50% 50% no-repeat;
				transform: rotate(270deg);

				@include responsive(mobile) {
					background-size: 20px !important;
				}
			}

			&:hover {
				a {
					background: url(../images/inp-chevron-active.svg) 50% 50% no-repeat;
				}
			}
		}
	}
	
	a {
		width: 38px;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $gray-200;
		text-decoration: none;
		transition: border-color .3s ease-in-out;
		
		@include responsive(tablet) {
			width: 48px;
			height: 48px;
		}
		
		@include responsive(desktop) {
			width: 56px;
			height: 56px;
		}
		
		&:hover {
			border-color: $active;
		}
	}
}

.sl-overlay {
	opacity: .97;
}

.sl-wrapper .sl-close {
	font-size: 0 !important;
	background: url(../images/icon-close.svg) 0 0/contain no-repeat;
}


.sl-navigation button {
	font-size: 0 !important;

	&.sl-next {
		background: url(../images/arrow-right.svg) 0 0 no-repeat;
	}

	&.sl-prev {
		background: url(../images/arrow-left.svg) 0 0 no-repeat;
	}
}

.video-page {
	@include yearsSelect('video-page');

	.video {
		padding: 0;
	}

	&__top {
		h1 {
			@include responsive(smtablet) {
				width: 50%;
				margin-right: 10px;
			}

			@include responsive(landscapedesktop) {
				width: 50%;
				margin-right: 10px;
			}

			@include responsive(desktop) {
				width: 33.3%;
				margin-right: 10px;
			}
		}
	}

	&__year {
		@include responsive(smtablet) {
			width: calc(50% - 20px);
		}
	}

	&__text {
		@include responsive(device) {
			margin-bottom: 24px;
		}

		@include responsive(landscapedesktop) {
			margin-bottom: 32px;
		}
	}
	
	&__section {
		margin-bottom: 64px;

		@include responsive(notebookdesktop) {
			margin-bottom: 88px;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.news-page {
	margin: 0 auto;
	max-width: 1220px;
	
	@include yearsSelect('news-page');

	&__top {
		h1 {
			@include responsive(smtablet) {
				width: 50%;
				margin-right: 10px;
			}
			
			@include responsive(landscapedesktop) {
				width: 50%;
				margin-right: 10px;
			}
		}
	}
	
	&__year {
		@include responsive(smtablet) {
			width: calc(33% - 10px);
		}
	}
	
	
	&__list {
		display: flex;
		flex-flow: wrap;
		margin: 0 -10px;
		
		.news-sm {
			@include responsive(mobile) {
				width: 100%;
			}
		}
	}
	
	&__text {
		margin-bottom: 64px;
	}
}

.news-sm {
	width: calc(50% - 20px);
	padding: 0 10px;
	margin-bottom: 40px;
	text-decoration: none;
	
	@include responsive(largedesktop) {
		margin-bottom: 56px;
	}
	
	h6 {
		margin-bottom: .5rem;
		transition: color .3s ease-in-out;
	}

	&__img {
		margin-bottom: 1.5rem;
		position: relative;
		
		span {
			position: absolute;
			left: 1rem;
			top: 1rem;
			display: flex;
			background-color: $active;
			color: $white;
			font-size: 24px;
			padding: 0 .5rem .25rem;
			
			&.past {
				background-color: $black;
			}
		}
	}

	.title {
		font-weight: 600;
		color: $gray-700;
		margin-top: -1.5rem;
	}

	&__date {
		border-top: 1px solid $gray-400;
		border-bottom: 1px solid $gray-400;
		padding: 1rem 0;
		margin: 1rem 0;

		span {
			@include responsive(device) {
				font-size: 16px;
			}

			@include responsive(landscapedesktop) {
				font-size: 20px;
			}
		}
	}

	img {
		display: block;
		max-width: 100%;
		width: calc(100% - 4px);
		box-sizing: border-box;
		transition: all .3s ease-in-out;
	}
}

.news-main {
	.news-sm {
		display: flex;
		padding: 0;
		width: 100%;
		margin-bottom: 0;
		
		@include responsive(mobile) {
			flex-flow: wrap;
		}
		
		@include responsive(desktop) {
			width: 67%;
		}
		
		&__img {
			box-sizing: border-box;

			@include responsive(tablet) {
				min-width: 32.5%;
				margin-right: 20px;
			}

			@include responsive(desktop) {
				width: 50%;
			}
		}
		
		&__text {
			
			@include responsive(desktop) {
				width: calc(50% - 10px);
				padding-left: 20px;
				box-sizing: border-box;
			}
		}
	}
}

.news-page-detail {
	margin: 0 auto;
	max-width: 1220px;

	&__content {
		display: flex;
		flex-flow: wrap;

		@include responsive(landscapedesktop) {
			margin: 0 -10px;
		}

		@include responsive(device) {
			flex-flow: column;
		}
	}

	&__info {
		@include responsive(landscapedesktop) {
			padding: 0 10px;
			width: calc(50% - 20px);
		}
		
		.btn {
			@include responsive(landscapedesktop) {
				margin-top: 2rem;
			}
		}
	}
	
	&__film {
		@include responsive(device) {
			margin-top: 32px;
		}

		@include responsive(landscapedesktop) {
			width: calc(50% - 20px);
			padding: 0 10px;
		}
		
		.news-sm {
			width: 100%;
			padding: 0;
		}
	}
	
	&__trailer {
		position: relative;

		@include responsive(landscapedesktop) {
			width: 75%;
			margin: 56px 0 0 10px;
		}
		
		@include responsive(notebookdesktop) {
			margin-top: 40px;
		}
		
		@include responsive(largedesktop) {
			margin-top: 80px;
		}
	}
	
	&__partners {
		margin-top: 56px;
		width: 100%;
		
		@include responsive(notebookdesktop) {
			margin-top: 80px;
			padding: 0 10px;
		}

		@include responsive(largedesktop) {
			margin-top: 120px;
		}
	}
	
	&__gallery {
		margin-top: 56px;
		
		@include responsive(notebookdesktop) {
			margin-top: 80px;
			padding: 0 10px;
		}

		@include responsive(largedesktop) {
			margin-top: 120px;
		}

		.gallery-page__section {
			margin-bottom: 0;
		}
		
		.gallery-page__preview,
		.gallery-page__content {
			width: 100%;
		}
	}
	
	&__btn {
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
	
	&__video {
		margin-top: 56px;
		width: 100%;

		@include responsive(notebookdesktop) {
			margin-top: 80px;
			padding: 0 10px;
		}
		
		@include responsive(largedesktop) {
			margin-top: 120px;
		}
	}
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
	height: 0;
	overflow: hidden;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-width: 0;
		outline-width: 0;
	}
}

.partners {
	
	&__section {
		display: flex;
		align-items: flex-start;
		
		@include responsive(device) {
			flex-wrap: wrap;
		}
		
		@include responsive(landscapedesktop) {
			justify-content: flex-end;
			flex-flow: nowrap;
		}
		
		&:last-child {
			.partners__list {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		
		h3 {
			@include responsive(landscapedesktop) {
				width: 33.3%;
			}
		}
		
		.partners__list {
			border-bottom: 1px solid $gray-400;
			box-sizing: border-box;
			width: 100%;
			padding-bottom: 40px;
			margin-bottom: 40px;
			
			@include responsive(landscapedesktop) {
				padding-bottom: 80px;
				margin-bottom: 80px;
				margin-left: 20px;
				width: calc(67.7% - 20px);
			}
		}
	}

	&__list {
		display: flex;
		flex-flow: wrap;
		
		@include responsive(mobile) {
			margin: 0 -10px;
		}
	}

	&__item {
		@include responsive(mobile) {
			width: 50%;
			padding: 30px 10px;
		}
		
		@include responsive(smtablet) {
			width: 33.3%;
		}

		max-width: 290px;
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 20px;
		box-sizing: border-box;
		
		&:hover {
			img {
				filter: grayscale(0);
			}
		}

		img {
			max-width: 100%;
			filter: grayscale(100%);
			transition: filter .3s ease-in-out;
			
			@include responsive(mobile) {
				max-width: 100%;
			}
		}
	}
}

.film-page {
	
	&__title {
		box-sizing: border-box;
		
		@include responsive(device) {
			margin-bottom: 1rem;
		}
		
		@include responsive(largedesktop) {
			margin-bottom: 4rem;
		}
		
		h1 {
			margin-bottom: 1.25rem;
		}
		
		.title {
			font-weight: 700;
		}
		
		span {
			display: block;
		}
	}
	
	&__content {
		@include responsive(landscapedesktop) {
			display: flex;
			flex-flow: wrap;
			margin: 0 -10px;
		}
	}
	
	&__img {
		@include responsive(landscapedesktop) {
			width: 50%;
			padding: 0 10px;
			box-sizing: border-box;
		}
		
		img {
			max-width: 100%;
		}
	}
	
	&__info {
		@include responsive(landscapedesktop) {
			width: 50%;
			padding: 0 10px;
			box-sizing: border-box;
			display: flex;
			flex-flow: column;
		}
		
		.right {
			margin-left: auto;
			margin-bottom: 32px;
		}
	}
	
	&__trailer {
		width: 100%;
		
		@include responsive(device) {
			margin-top: 64px;
		}
		
		@include responsive(landscapedesktop) {
			margin-top: 80px;
		}
		
		@include responsive(notebookdesktop) {
			margin-top: 120px;
		}
		
		@include responsive(largedesktop) {
			margin-top: 200px;
		}
	}

	&__trailer-right {
		@include responsive(landscapedesktop) {
			width: 50%;
			margin-left: auto;
			padding: 0 10px;
			box-sizing: border-box;
		}
	}
	
	&__author {
		display: flex;
		align-items: flex-start;
		
		@include responsive(mobile) {
			flex-flow: column;
			margin-top: 56px;
		}
		
		@include responsive(tablet) {
			margin-top: 56px;
		}

		@include responsive(landscapedesktop) {
			margin-top: 80px;
			padding: 0 10px;
			width: 70%;
		}
		
		@include responsive(notebookdesktop) {
			margin-top: 120px;
			width: 60% !important;
		}

		@include responsive(smtablet) {
			width: 100%;
		}
		
		@include responsive(desktop) {
			width: 75%;
		}

		@include responsive(largedesktop) {
			margin-top: 200px;
			width: 50% !important;
		}
	}

	&__author-info {
		@include responsive(mobile) {
			width: 100%;
			margin-top: 1rem;
		}
		
		@include responsive(tabletdesktop) {
			padding-left: 20px;
		}
	}
	
	&__slider {
		@include responsive(mobile) {
			margin-top: 40px;
		}
		
		@include responsive(tablet) {
			margin-top: 56px;
		}
		
		@include responsive(landscapedesktop) {
			margin-top: 80px;
		}
		
		@include responsive(notebookdesktop) {
			margin-top: 120px;
		}

		@include responsive(largedesktop) {
			margin-top: 200px;
		}
		
		h2 {
			margin-bottom: 0;
		}
	}
	
	&__btn {
		margin-top: 64px;
		display: flex;
		justify-content: center;
	}
}