extends templates/layout
include templates/_mixins

block nav
	- var currentTitle = "info.html";
	- var currentSubtitle = "festival-pass.html";
	+menu(currentTitle, currentSubtitle)

block content
	.info-page
		h1 Contacts
		.info-page__contacts
			.info-page__names
				.info-page__name-item
					p Coordination
					p
						strong Ivanka Myers
					p
						a(href="mailto:ivanka.myers@gmail.com") ivanka.myers@gmail.com
					p +33 (0) 6 78 74 02 85
				.info-page__name-item
					p Direction
					p
						strong Irena Bilic
					p
						a(href="mailto:irenabilitch@gmail.com") irenabilitch@gmail.com
					p +33 (0) 6 60 44 83 28
				.info-page__name-item
					p Siège
					p Evropa Film Akt / Festival l’Europe autour de l’Europe<br>
						| MDA B.P. 62 <br>
						| 22, rue Deparcieux <br>
						| 75014 Paris
				.info-page__name-item
					p Site web
					p
						strong Alexandre Grebenkov
					p
						a(href="mailto:studio@shweb.pro") studio@shweb.pro
				.info-page__name-item
					p
						strong Suivez-nous
					.social
						.social__item
							a(href="" target="_blank")
								span.iconify(data-icon="typcn:social-instagram")
						.social__item
							a(href="" target="_blank")
								span.iconify(data-icon="foundation:social-twitter")
						.social__item
							a(href="" target="_blank")
								span.iconify(data-icon="foundation:social-facebook")
						.social__item
							a(href="" target="_blank")
								span.iconify(data-icon="foundation:social-youtube")
						.social__item
							a(href="https://www.tiktok.com/@leuropeautourdeleurope" target="_blank")
								span.iconify.tiktok(data-icon="bi:tiktok" data-inline="false")
						.social__item
							a(href="https://letterboxd.com/evropafilmakt/" target="_blank")
								span.iconify.letterboxd(data-icon="cib:letterboxd" data-inline="false")

				.info-page__name-item
					p
						strong Soumettre votre film via
					.request-links
						a(href="https://filmfreeway.com/LEuropeautourdelEurope" target="_blank")
							img(src="images/film-freeway.png" alt="")
						a(href="https://filmmakers.festhome.com/fr/festival/l-europe-autour-de-l-europe" target="_blank")
							img(src="images/festhome.png" alt="")

			.info-page__form
				form(id="contacts" class="js-festival-form")
					.info-page__result.hidden
						p Votre message a été envoyé.<br>
							| Nous vous contacterons sous peu.
					.form-item
						label(for="name") Nom
						input(type="text" class="inp-text" id="name" name="name")
					.form-item
						label(for="email") Email
						input(type="email"  class="inp-text" id="email" name="email")
					.form-item
						label(for="message") Message
						textarea(class="inp-text" id="message" name="message")
					.form-item
						span En cliquant sur le bouton "Envoyer", vous acceptez les conditions de l'offre et la politique de confidentialité.
					.form-item
						button(type="submit" class="submit") Envoyer
