extends templates/layout
include templates/_mixins

block nav
	- var currentTitle = "news.html";
	+menu(currentTitle)


block content

	.news-page
		.news-page__top
			h1 Actualités

		.news-page__list
			each item in news
				a(href="news-detail.html").news-sm
					.news-sm__img
						if item.online === true
							span en ligne
						img(src= item.img alt= item.title)
					h4= item.title
					if item.director !==""
						p.title= item.director
					if item.date !==""
						.news-sm__date
							span= item.date
					.news-sm__descr
						p= item.info

		include templates/_incl-pagination