extends templates/layout
include templates/_mixins

block nav
	- var currentTitle = "gallery.html";
	- var currentSubtitle = "gallery.html";
	+menu(currentTitle, currentSubtitle)

block content
	.gallery-page
		ul.breadcrumbs
			li
				a(href="gallery.html") Galeries

		h1 Soirée de clôture, 17 avril
		.gallery-page__albom
			ul.gallery-page__list
				each item in galleryList
					if item.active === true
						li.active= item.title
					else
						li
							a(href="#")= item.title
			.gallery-page__content.js-photo-gallery
				each item in galleryList.slice(0,1)
					each subitem in item.photo
						div(class="gallery-page__img gallery-page__img--" + subitem.class + " gallery-page__img--" + subitem.position)
							a(href= subitem.img)
								img(src=subitem.img alt="")
