extends templates/layout

block content
	.gallery-page
		.gallery-page__top
			h1 Galeries
			.gallery-page__year
				select.js-select(style="width: 290px")
					option 2021
					option 2022
					option 2019
					option 2018
					option 2017
					option 2016
					option 2015
					option 2014
					option 2013

		each item in galleryList
			a(href="gallery-albom.html").gallery-page__section
				.gallery-page__title
					h4= item.title
				.gallery-page__preview
					each subitem in item.photo.slice(0,2)
						.gallery-page__item
							img(src=subitem.img alt="")

		ul.pagination
			li.prev-page
				a(href="")
			li
				a(href="") 1
			li.active-page
				a(href="") 2
			li
				a(href="") 3
			li
				a(href="") ...
			li
				a(href="") 99
			li.next-page
				a(href="")
