extends templates/layout
include templates/_mixins

block nav
	- var currentTitle = "gallery.html";
	- var currentSubtitle = "gallery.html";
	+menu(currentTitle, currentSubtitle)


block content
	.gallery-page
		.gallery-page__top
			h1 Galeries
			.gallery-page__year
				include templates/_incl-years

		each item in galleryList
			a(href="gallery-albom.html").gallery-page__section
				.gallery-page__title
					h4= item.title
				.gallery-page__preview
					each subitem in item.photo.slice(0,2)
						.gallery-page__item
							img(src=subitem.img alt="")

		include templates/_incl-pagination
