extends templates/layout
include templates/_mixins

block nav
	- var currentTitle = "info.html";
	- var currentSubtitle = "festival-pass.html";
	+menu(currentTitle, currentSubtitle)

block content
	.info-page
		h1 Pro / Presse
		.info-page__content
			.info-page__section
				h3 Communiqués de presse
				p
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-2021-presse-release-1-en.pdf") Presse Release #1. Festival l’Europe autour de l’Europe 2021 (English)
				p
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-2021-presse-release-1-fr.pdf") Communiqué de presse #1. Festival l’Europe autour de l’Europe 2021 (Francais)

			.info-page__section
				h3 Sélection officielle 2021

				.info-page__banners-list.rows
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-laurel-white.jpg").info-page__banner-item.col-3
						img(src="http://evropafilmakt.com/2020/wp-content/uploads/efa-laurel-white.jpg" alt="")
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-laurel-black.jpg").info-page__banner-item.col-3
						img(src="http://evropafilmakt.com/2020/wp-content/uploads/efa-laurel-black.jpg" alt="")


			.info-page__section.info-page__section--wide
				h3 Competition trailers
				.info-page__banners-list.rows
					.info-page__banner-item.col-2
						a(href="" class="js-video-modal")
							img(src="images/content/video-6.jpg" alt="")
							p PRIX SAUVAGE 2020
					.info-page__banner-item.col-2
						a(href="" class="js-video-modal")
							img(src="images/content/video-5.jpg" alt="")
							p PRIX SAUVAGE CORTO 2020
					.info-page__banner-item.col-2
						a(href="" class="js-video-modal")
							img(src="images/content/video-4.jpg" alt="")
							p PRIX PRESENT

			.info-page__section.info-page__section--wide
				h3 Teaser
				.info-page__banners-list.rows
					.info-page__banner-item.col-4
						iframe(loading="lazy" height="450" src="https://www.youtube.com/embed/HG4RUAHe8hc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
						// Вариант кода не через iframe
						a(href="" class="js-video-modal")
							img(src="images/content/video-7.jpg" alt="")

			.info-page__section
				h3 Programme & catalogue
				p
					a(href="") Programme officiel du festival l’Europe autour de l’Europe 2020 (2.1 Mb, PDF)
				p
					a(href="") Catalogue du festival l’Europe autour de l’Europe 2020 (25 Mb, PDF)

			.info-page__section
				h3 Affiches
				.info-page__banners-list.rows
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-2020-affiche.jpg").info-page__banner-item.col-3
						img(src="http://evropafilmakt.com/2020/wp-content/uploads/efa-2020-affiche.jpg" alt="Affiche officielle du festival l’Europe autour de l’Europe 2020")
						p Affiche officielle du festival l’Europe autour de l’Europe 2020 (300 Kb, JPG)


			.info-page__section
				h3 Bannières
				.info-page__banners-list.rows
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-2020-affiche.jpg").info-page__banner-item.info-page__banner-item--wide.col-6
						img(src="http://evropafilmakt.com/2020/wp-content/uploads/efa-2020-banner.jpg" alt="Bannière du festival l’Europe autour de l’Europe 2020")
						p Bannière du festival l’Europe autour de l’Europe 2020 (170 Kb, JPG, 980×237)

			.info-page__section
				h3 Logos
				.info-page__banners-list.rows
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-logo-white-2020-scaled.jpg").info-page__banner-item.col-3
						img(src="http://evropafilmakt.com/2020/wp-content/uploads/efa-logo-white-2020-scaled.jpg" alt="Logo du festival l’Europe autour de l’Europe, blanc")
						p Logo du festival l’Europe autour de l’Europe, blanc (2.3 Mb, JPG)
					a(href="http://evropafilmakt.com/2020/wp-content/uploads/efa-logo-black-2020-scaled.jpg").info-page__banner-item.col-3
						img(src="http://evropafilmakt.com/2020/wp-content/uploads/efa-logo-black-2020-scaled.jpg" alt="Logo du festival l’Europe autour de l’Europe, noir")
						p Logo du festival l’Europe autour de l’Europe, noir (4.6 Mb, JPG)