extends templates/layout
include templates/_mixins

block nav
	- var currentTitle = "gallery.html";
	- var currentSubtitle = "video.html";
	+menu(currentTitle, currentSubtitle)

block content

	.video-page
		ul.breadcrumbs
			li
				a(href="video.html") Vidéo

		h1 Vidéothèque
		.video
			.video__list
				each item in videotheque
					.video__item
						a(href="#")
							img(src= item.img alt="")
							p= item.text

			include templates/_incl-pagination